include CHANGELOG.txt
include LICENSE.txt
include README.txt
include setup.py
recursive-include font-kaushan-script *.py
recursive-include font-kaushan-script/files *.otf
include font-kaushan-script/files/OFL.txt
