include CHANGELOG.txt
include LICENSE.txt
include README.txt
include setup.py
recursive-include font_kaushan_script *.py
recursive-include font_kaushan_script/files *.ttf
include font_kaushan_script/files/OFL.txt
